.quadTracklist {
    display: flex;
}

#tracklist1 {
    width: 24%;
    margin-right: 1%;
}

#tracklist2 {
    width: 24%;
    margin-right: 1%;
}

#tracklist3 {
    width: 24%;
    margin-right: 1%;
}

#tracklist4 {
    width: 24%;
    margin-right: 1%;
}