.content{
    margin-left: 30px;
    display: flex;
  }

.titles_and_blurb{
    margin-top: 25px;
}

#editions{
  font-size: 18px;
}

#blurb{
  line-height: 27px;
  overflow-wrap: break-word;
  margin-top: 25px;
}

#image{
  float: right;
  margin-right: 35px;
}

.desc{
  color: grey;
  text-align: right;
}

#list{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  color: grey;
  margin-top: 10px;
  row-gap: 0px;
}