.openingText {
    margin-left: 4%;
    margin-right: 4%;
}

.discography {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px;
}

.release {
  flex: 1;
  inline-size: 150px;
  overflow-wrap: break-word;
  max-width: 150px;
}

.title {
    margin-top: 10px;
}

.section {
  float: left;
  width: 50%;
}

.artist {
    margin-top: 5px;
    font-size: 12px;
    color: #C3C3C3;
}